@import 'solarized';

$font-stack: Roboto;
$primary-color: #333;
$border-color: #cfcfcf;

$sm-space: 5px;
$lg-space: 12px;
$text-to-edge: 16px;
$bg-color: $base3;

$md-rad: 4px;

// Colors
$sec-text-color: lighten(#000, 35);
$spacer-grey: #e3e3e3;
$prm-color: #801E74;
$sec-color: #1CC6ae;
$light-border-color: darken(#fff, 10);

$trophy-color: #ead700;
$done-color: #2eaa2e;

// Animation times
$short-dur: 60ms;
$med-dur: 200ms;
$long-dur: 350ms;

html, body {
  padding: 0;
  margin: 0;
}

body {
  font: 100% $font-stack;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
}

@mixin base-btn($color) {
  display: inline-block;
  color: #fff;
  background: $color;
  padding: 0.6em;
  border: 1px solid $color;
  cursor: pointer;
  transition: color $short-dur ease-in-out,
              background-color $short-dur ease-in-out,
              border-color $short-dur ease-in-out;
  &:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .1);
    background-color: darken($color, 5);
    //border-color: lighten($color, 15);
  }
  & i:first-child {
    margin-right: .6em;
  }
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  @include base-btn($cyan);
}

.btn-danger {
  @include base-btn(#E23670);
}

.block-input {
  //line-height: 2.2em;
  padding: .5em;
  border: 1px solid $base2;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.btn-block {
  display: block;
}

// Top bar

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $violet;
  color: $base3;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px 0px black;
}

.app-name {
  flex-grow: 1;
  padding: .6em 0 .6em 16px;
}

.menu-btn {
  padding: .6em 16px .6em .7em;
}

.top-bar-filler {
  height: 53px;
}

.title-container {
  padding: 1em 0.0em;
  flex-grow: 1;
}

.title {
  position: relative;
  &::before {
    content: '';
    background-color: $base1;
    display: block;
    position: absolute;
    height: 1px;
    bottom: .5em;
    left: -0.1em;
    right: -0.1em;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: transform ease-in-out $med-dur;
  }
  &.done {
    &::before {
      transform: scaleX(1);
    }
  }
}

.start-timing-btn {
  padding: 1em 1.5em;
}

.fold-indicator {
  text-align: center;
  padding: 1em 1em 1em $text-to-edge;
  i {
    transition: transform ease-in-out $med-dur;
    width: 22px;
  }
}

#task-container {
  position: absolute;
  width: 100%;
  padding-top: 1.5em;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.task-line {
  display: flex;
  position: absolute;
  width: 100%;
  border: 1px solid $base2;
  border-width: 1px 0;
  text-shadow: -1px 0px 0 $bg-color,
                0px 1px 0 $bg-color,
                0px -1px 0 $bg-color,
                1px 0px 0 $bg-color,
               -1px -1px 0 $bg-color,
                1px -1px 0 $bg-color,
               -1px 1px 0 $bg-color,
                1px 1px 0 $bg-color;
  transition: opacity ease-in-out $med-dur,
              transform $med-dur ease-in-out;
}

.after-tasks {
  position: absolute;
  transition: transform ease-in-out $med-dur;
  margin-top: 1.5em;
}

.indent-indicator {
  position: absolute;
  width: 2px;
  border: 1px solid $base3;
  border-width: 0 1px;
  top: -1px;
  bottom: -1px;
  left: ($text-to-edge + 11 - 2);
  background: rgba($prm-color, 0.4);
  //opacity: .6;
  z-index: -1;
}

.indent-top-half {
  bottom: 50%;
}

.indent-bottom-half {
  top: 50%;
}

.indent-faded {
  opacity: .2;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  transition: opacity ease-in-out $med-dur;
  & > div:last-child {
    z-index: 110;
    background: $bg-color;
    padding: $text-to-edge;
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
}

.modal-backdrop {
  z-index: 105;
  background: #000;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// ****************************************
// Start session view
.begin-session {
  color: #000;
  background-color: #fff;
  //position: absolute;
  //right: $text-to-edge;
  //top: 3em;
  padding: $text-to-edge / 2;
  text-align: center;
  color: $sec-text-color;
  h2 {
    color: #000;
    margin: $text-to-edge / 2 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  table {
    border-collapse: separate;
    border-spacing: .2rem;
    text-align: right;
    line-height: 1em;
    border-spacing: $text-to-edge / 4;
    margin: -$text-to-edge / 4;
  }
  td {
    width: 4em;
  }
  //transform: scale(0);
  //transition: transform ease-in-out 0.2s,
              //opacity ease-in-out 0.2s;
  //opacity: 0;
  //&.open {
    //transform: scale(1);
    //opacity: 1;
  //}
  .btn:active {
    color: #fff;
    background: $prm-color;
  }
}
