@import 'solarized';

$font-stack: Roboto;
$primary-color: #333;
$border-color: #cfcfcf;

$sm-space: 5px;
$lg-space: 12px;
$text-to-edge: 16px;
$bg-color: $base3;

$md-rad: 4px;

// Colors
$sec-text-color: lighten(#000, 35);
$spacer-grey: #e3e3e3;
$prm-color: #801E74;
$sec-color: #1CC6ae;
$light-border-color: darken(#fff, 10);

$trophy-color: #ead700;
$done-color: #2eaa2e;

// Animation times
$short-dur: 60ms;
$med-dur: 200ms;
$long-dur: 350ms;

$grid-bar-h: 16px;

html, body {
  padding: 0;
  margin: 0;
}

body {
  font: 100% $font-stack;
}

canvas {
  display: block;
}
#canvas {
  position: absolute;
  z-index: -1;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  & > *:not(:last-child) {
    margin-right: .5em;
  }
}

@mixin base-btn($color) {
  display: inline-block;
  color: #fff;
  background: $color;
  padding: 0.6em;
  border: 1px solid $color;
  cursor: pointer;
  &:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .1);
    background-color: darken($color, 5);
  }
  & i:first-child {
    margin-right: .6em;
  }
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  @include base-btn($cyan);
}

.td-btn {
  @include base-btn($cyan);
  display: table-cell;
}

.btn-danger {
  @include base-btn(#E23670);
}

.white-outline-btn {
  @include base-btn(#000);
  border: 2px solid #fff;
  color: #fff;
  &:active {
    color: #000;
    background: #fff;
    box-shadow: none;
  }
}

.block-input {
  padding: .5em;
  border: 1px solid $base2;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.btn-block {
  display: block;
}

// ****************************************
// Top bar
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $violet;
  color: $base3;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#grid-bar {
  z-index: 10;
  position: fixed;
  top: 52px;
  width: 100%;
}
.app-name {
  flex-grow: 1;
  padding: .6em 0 .6em 16px;
}

.menu-btn {
  padding: .6em 16px .6em .7em;
}

.top-bar-filler {
  height: 51+$grid-bar-h;
}

.title-container {
  padding: 1em 51px 1em (6 + 51px);
  margin: 0 -51px;
  flex-grow: 1;
}

.title-container:active, .start-timing-btn:active, .fold-indicator:active {
  background-color: #eee8d5;
}

.title {
  position: relative;
  &::before {
    content: '';
    background-color: $base1;
    display: block;
    position: absolute;
    height: 1px;
    bottom: .5em;
    left: -0.1em;
    right: -0.1em;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: transform ease-in-out $med-dur;
  }
  &.done {
    &::before {
      transform: scaleX(1);
    }
  }
}

.start-timing-btn {
  width: 19px;
  padding: 1em $text-to-edge;
  text-align: center;
}

.fold-indicator {
  i {
    text-align: center;
    width: 52px;
    line-height: 51px;
    transition: transform ease-in-out $med-dur;
  }
}

.checkbox {
  transform: translate(0, 0);
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    border: 1px solid $base3;
    div {
      background-color: $base3;
      width: 11px;
      height: 11px;
      border: 2px solid $base1;
    }
  }
}
.checkbox.checked > div > div {
  background-color: $base2;
}

.chevron {
  transform: translate(0, 0);
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    transform: rotate(-45deg) translate(-20%, -20%);
    transition: transform ease-in-out $med-dur;
    border: 1px solid $base3;
    border-color: transparent $base3 $base3 transparent;
    & > div {
      border: 2px solid $base1;
      border-color: transparent $base1 $base1 transparent;
      width: 8px;
      height: 8px;
      & > div {
        border: 1px solid $base3;
        border-color: transparent $base3 $base3 transparent;
      }
    }
  }
}
.chevron.open > div {
  transform: rotate(45deg) translate(-20%, -20%);
}

#task-container {
  position: absolute;
  width: 100%;
  padding-top: 0;
  border-bottom: 1px solid $base2;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.task-line {
  display: flex;
  position: absolute;
  width: 100%;
  border-top: 1px solid $base2;
  text-shadow: -1px 0px 0 $bg-color,
                0px 1px 0 $bg-color,
                0px -1px 0 $bg-color,
                1px 0px 0 $bg-color,
               -1px -1px 0 $bg-color,
                1px -1px 0 $bg-color,
               -1px 1px 0 $bg-color,
                1px 1px 0 $bg-color;
  transition: opacity ease-in-out $med-dur,
              transform $med-dur ease-in-out;
}

.after-tasks {
  position: absolute;
  transition: transform ease-in-out $med-dur;
}

.indent-indicator {
  position: absolute;
  width: 2px;
  border: 1px solid $base3;
  border-width: 0 1px;
  top: -1px;
  bottom: 0;
  left: 23.5px;
  background: rgba($prm-color, 0.4);
}

.indent-top-half {
  bottom: 50%;
}

.indent-bottom-half {
  top: 50%;
}

.indent-faded {
  opacity: .4;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  transition: opacity ease-in-out $med-dur;
  & > div:last-child {
    z-index: 110;
    background: $bg-color;
    margin: $text-to-edge;
    padding: .5em;
    border-radius: 0;
    width: 100%;
    max-width: 16em;
  }
}

.modal-backdrop {
  z-index: 105;
  background: #000;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// ****************************************
// Start session view
.begin-session {
  color: #000;
  background-color: #fff;
  padding: $text-to-edge / 2;
  text-align: center;
  color: $sec-text-color;
  h2 {
    color: #000;
    margin: $text-to-edge / 2 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  table {
    border-collapse: separate;
    border-spacing: .2rem;
    text-align: right;
    line-height: 1em;
    border-spacing: $text-to-edge / 4;
    margin: -$text-to-edge / 4;
  }
  td {
    width: 4em;
  }
  .btn:active {
    color: #fff;
    background: $prm-color;
  }
}

// ****************************************
// In session modal
.session-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-size: 1.5em;
  h1 {
    font-size: 1.6em;
    font-weight: 400;
  }
}

.session-modal-btn-row {
  width: 100%;
  .white-outline-btn {
    text-align: center;
    width: 30%;
  }
}
